.rabiscoInfo {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .contatoInfo {
    padding: 20px;
    border-radius: 8px;
    background-color: #e9ecef;
  }
  
  .contatoInfo h2 {
    color: #007bff;
  }
  
  .contatoInfo ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contatoInfo li {
    margin: 10px 0;
    font-family: 'Arial', sans-serif;
  }
  
  .contatoInfo a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contatoInfo a:hover {
    text-decoration: underline;
  }
  .card {
    max-width: 100px; /* Ajuste o tamanho máximo do card */
    margin: 0 auto; /* Centraliza o card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Efeito ao passar o mouse */
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
}

.container {
    padding: 2rem 0;
}
